Desafio 8 - FCA/node-red-fca-flow.json
[{"id":"14a1bdf2.3c39b2","type":"tab","label":"FCA_flow","disabled":false,"info":""},{"id":"e40aa7c4.ed2bc8","type":"http in","z":"14a1bdf2.3c39b2","name":"","url":"/api/recommend","method":"post","upload":true,"swaggerDoc":"","x":120,"y":40,"wires":[["8348a717.8f1d38","6cbf3fb0.bb54d"]]},{"id":"c64d057b.a6f368","type":"http response","z":"14a1bdf2.3c39b2","name":"returnResponse","statusCode":"200","headers":{},"x":840,"y":420,"wires":[]},{"id":"93bc15ff.9df428","type":"function","z":"14a1bdf2.3c39b2","name":"get_buffer","func":"msg.payload = msg.req.files[0].buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["73a62601.6bf648"]]},{"id":"8348a717.8f1d38","type":"switch","z":"14a1bdf2.3c39b2","name":"has_audio","property":"req.files.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":40,"wires":[["93bc15ff.9df428"],["b4a9ef7c.0bfd2"]]},{"id":"6cbf3fb0.bb54d","type":"debug","z":"14a1bdf2.3c39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":90,"y":140,"wires":[]},{"id":"b4a9ef7c.0bfd2","type":"function","z":"14a1bdf2.3c39b2","name":"set_text_NLU","func":"msg.payload = msg.req.body.text ? msg.req.body.text : msg.payload;\nmsg.nlu_options = \n{\"entity_model\":\"f17fbf2f-ab98-487f-bd45-c44a1627e39e\",\n \"relations_model\":\"f17fbf2f-ab98-487f-bd45-c44a1627e39e\"    \n};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":80,"wires":[["83a9bfe8.45a84"]]},{"id":"83a9bfe8.45a84","type":"natural-language-understanding","z":"14a1bdf2.3c39b2","name":"","categories":true,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":220,"y":300,"wires":[["38d84c9a.ba9a74"]]},{"id":"38d84c9a.ba9a74","type":"function","z":"14a1bdf2.3c39b2","name":"set_features_on_payload","func":"msg.payload = msg.features;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":300,"wires":[["2490076f.cfdfa8"]]},{"id":"600f173.20a82e8","type":"debug","z":"14a1bdf2.3c39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"73a62601.6bf648","type":"watson-speech-to-text","z":"14a1bdf2.3c39b2","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"I3G8KbiGcAd_9ETCqxrGIkM21XLq4azXG2QJoNzK1NPr","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/7f24c882-8db4-4fcb-b828-57a85eefe616","x":480,"y":140,"wires":[["b4a9ef7c.0bfd2"]]},{"id":"2490076f.cfdfa8","type":"switch","z":"14a1bdf2.3c39b2","name":"sentimentIsPositive","property":"payload.sentiment.document.label","propertyType":"msg","rules":[{"t":"eq","v":"positive","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":400,"wires":[["d9e37cf6.3e3eb"],[]]},{"id":"d9e37cf6.3e3eb","type":"function","z":"14a1bdf2.3c39b2","name":"returnOnlyEntities","func":"response = {\n  \"recommendation\": \"\",\n  \"entities\": [\n      {\n          \"entity\": \"ACESSORIOS\",\n          \"sentiment\": -0.890016,\n          \"mention\": \"Ar condicionado\"\n      },\n      {\n          \"entity\": \"CONSUMO\",\n          \"sentiment\": -0.001004,\n          \"mention\": \"8Km/L\"\n      }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":360,"wires":[[]]}]